data/*
searchs/*
*.log
__pycache__/*
.vscode/*
.history/*
.DS_Store
*/.DS_Store
*/__pycache__/
data/sst/
searchs/*
glove/
__pycache__/
models/__pycache__/*
data/mtdataset
.vscode/
draw_result.py
*.pyc
rnn_demo.py
test_emd.py
*.pyc
get_res.py
data/
teacher_utils/teacher_model
augments/*
teacher_utils/bert_base_uncased
a.txt
cached*
teacher_utils/xlnet*
supernet/*
*.bin
*.png
runs